{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    padding:15px;
}

.contenedor{
    max-width:900px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:25px;
    font-size:32px;
}

h2{
    margin-top:30px;
    margin-bottom:10px;
    font-size:24px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:6px;
}

textarea{
    resize:vertical;
}

button{
    width:100%;
    padding:16px;
    margin-top:30px;
    font-size:18px;
    border:none;
    border-radius:6px;
}
.encabezado{
    text-align:center;
    margin-bottom:25px;
}

.autor{
    color:#666;
    font-size:14px;
    margin-top:10px;
}
